@import "reset.css";
@import "modern-normalize.css";

:root {
    --clr-text: hsl(270, 20%, 6%);
    --clr-body: hsl(300, 20%, 94%);
    --clr-background: hsl(300, 20%, 99%);
    --clr-primary: hsl(275, 33%, 66%);
    --clr-secondary: hsl(353, 19%, 73%);
    --clr-accent: hsl(23, 46%, 61%);

    --clr-neutral-200: hsl(0, 0%, 90%);
    --clr-success: hsl(143, 100%, 26%);
    --clr-warning: hsl(43, 100%, 66%);
    --clr-error: hsl(348, 55%, 49%);

    --clr-avatar-1: hsl(32 100% 82%);
    --clr-avatar-2: hsl(32 100% 82%);
    --clr-avatar-3: hsl(32 100% 82%);
    --clr-avatar-4: hsl(32 100% 82%); 


    --fs-100: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
    --fs-200: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
    --fs-300: clamp(1rem, 0.8696rem + 0.6522vw, 1.375rem);
    --fs-400: clamp(1.2rem, 1.0196rem + 0.9022vw, 1.7188rem);
    --fs-500: clamp(1.44rem, 1.1936rem + 1.2321vw, 2.1484rem);
    --fs-600: clamp(1.728rem, 1.3949rem + 1.6653vw, 2.6855rem);
    --fs-700: clamp(2.0736rem, 1.6272rem + 2.2319vw, 3.3569rem);
    --fs-800: clamp(2.4883rem, 1.8943rem + 2.9702vw, 4.1962rem);
}

@media (prefers-color-scheme: dark) {
    :root {
        --clr-text: hsl(270, 20%, 94%);
        --clr-background: hsl(300, 20%, 1%);
        --clr-primary: hsl(275, 33%, 34%);
        --clr-secondary: hsl(353, 19%, 27%);
        --clr-accent: hsl(23, 49%, 62%);
    }
}

.bg-a-1 {
    background-color: var(--clr-avatar-1);
}

.bg-a-2 {
    background-color: var(--clr-avatar-2);
}

.bg-a-3 {
    background-color: var(--clr-avatar-3);
}   

.bg-a-4 {
    background-color: var(--clr-avatar-4);
}

h1 {
    font-size: var(--fs-600);
    font-weight: bold;
}

h2 {
    font-size: var(--fs-500);
    font-weight: bold;
}

h3 {
    font-size: var(--fs-400);
    font-weight: bold;
}

h4 {
    font-size: var(--fs-300);
    font-weight: bold;
}

h5 {
    font-size: var(--fs-200);
    font-weight: bold;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 1fr);
}

/* aside menu */
nav {
    display: grid;
}

.logo {
    display: flex;
    align-items: center;
}

img {
    max-height: var(--fs-700);
}

nav {
    list-style-type: none;
}

nav a {
    color: var(--clr-body);
    text-decoration: none;
}

nav img {
    min-height: var(--fs-400);
}

.menu ul  li {
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    font-size: var(--fs-300);
    font-weight: 600;
}

aside {
    display: grid;
    grid-template-rows: auto auto 1fr; 
    gap: 3rem;
    padding: 2rem;
    background-color: var(--clr-primary);
    color: var(--clr-body);
}


/* header */
header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 3rem;
    padding: 2rem;
}

/* search */
.search {
    display: flex;
    align-items: space-around;
    gap: 1rem;
}

.right {
    margin-left: auto;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
}

.right img {
    min-height: var(--fs-400);
}

.search input[type="search"] {
    width: 50%;
    padding: 0.5rem;
    height: 2rem;
    border-radius: 2rem;
    font-size: var(--fs-200);
    border: none;
    background-color: var(--clr-neutral-200);
}

.search input[type="search"]:hover,
.search input[type="search"]:focus {
    outline: 1px solid var(--clr-accent);
}

.search > * {
    justify-items: center;
    align-items: center;
    align-content: center;
}

.avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 60%;
    height: 60%;
    object-fit: cover;
}
.avatar.rounded {
    border-radius: 100%;
}

.search img{
    max-height: var(--fs-500);
}

.line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* user */
.user {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-template-columns: auto  1fr;
    gap: 1rem;
}

.btn {
    padding: 0.625rem 1.5rem;
    border-radius: 2rem;
    border: none;
    font-size: var(--fs-200);
    background-color: var(--clr-primary);
    color: var(--clr-body);
    height: fit-content;
    cursor: pointer;
}

.user .avatar {
    width: 6rem;
    height: 6rem;
}

.user .avatar img{
    width: 50%;
    height: 50%;
}

main > article{
    display: grid;
    grid-template-columns: 60% 1fr;
    background-color: var(--clr-neutral-200);
    padding: 1rem;
    gap: 2rem;
    grid-template-areas: 
    'projects projects projects notices ' 
    'projects projects projects trending ';
}


.full-width {
    grid-column: -1 / 1;
}

/* projects */
.projects {
    --min-column-size: 35ch;
    display: grid;
    grid-template-columns: 
    repeat(auto-fit, minmax(min(var(--min-column-size), 100%), 1fr));
    gap: 1rem;
    grid-area: projects;
}

.project{
    padding: 1rem;
    background-color: var(--clr-background);
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-left: .5rem solid var(--clr-accent);
    display: grid;
    /* grid-template-rows: auto 1fr; */
    gap: 1rem;
}


.project-actions {
    margin-top: auto;
    display: flex;
    gap: 0.5rem;
    justify-content: end;
}

.project button {
    height: 1.5rem;
    width: 1.5rem;
    background-color: transparent;
    border: none;
    color: var(--clr-accent);
    font-size: var(--fs-300);
    cursor: pointer;
}

.notices {
    grid-area: notices;
}

.trending {
    grid-area: trending;
}
